<html>
  <head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <title>Video Streaming Demonstration</title>
  </head>
  <body>
  <div align="center">
    <img src="{{url_for('static', filename='logo.png')}}">
     <form action="safeWord">
    <button type="submit" class="btn btn-primary">Submit</button>
     </form>
      <p>{{safe}}</p>
    {%if GoIn%}
    <form action="Video">
      <p>If it's Your Word</p>
      <button type="submit" class="btn btn-success">Success</button>
    </form>
  {%endif%}
    </div>
  </body>
</html>